<!--The content below is only a placeholder and can be replaced.-->
<h1>
  <!-- using our variable from component -->
  <!-- title = 'app'  -->
  <!-- Welcome to app -->
  Welcome to {{ title }}!
</h1>
<div class="menu">
  <ul>
    <!-- routerLinkActive - свойство роутинга. active значит что с роутинг активен-->
    <li class="menu_link" role="presentation" [routerLinkActive]="['active']">
      <!-- routerLink - свойство ссылки, открываемой по пути. в данном случае localhost:4200/home -->
      <a [routerLink]="['/home']">home</a>
    </li>
    <li class="menu_link" role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['/shop']">shop</a>
    </li>
    <li class="menu_link" role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['/basket']">basket</a>
    </li>
  </ul>
</div>
<div class="content">
  <!-- ангуар прочитает app.routing.module и подставит нужные компоненты -->
  <router-outlet></router-outlet>
</div>