<!--The content below is only a placeholder and can be replaced.-->
<h1>
  <!-- using our variable from component -->
  <!-- title = 'app'  -->
  <!-- Welcome to app -->
  Welcome to {{ title }}!
</h1>
<!-- теперь будет это все эквивалентно записи ниже -->
<app-shop-list></app-shop-list>

<!-- <div class="shopList" *ngFor="let item of shopList"> -->
  <!-- эквивалентно записи в коментариях -->
  <!-- <app-shop-item [shopItem]='item'></app-shop-item> -->
  <!-- <div class="shopItem">
    <div class="shopItem-id">{{item.id}}</div>
    <div class="shopItem-name"> {{item.name}} </div>
    <div class="shopItem-description" *ngIf="item.description"> {{item.description}} </div>
  </div> -->
<!-- </div> -->