<div class="basketItem" *ngIf="basketItem">
    <div class="basketItem__basketId">{{basketItem.basketId}}</div>
    <div class="basketItem__id">{{basketItem.id}}</div>
    <div class="basketItem__name">{{basketItem.name}}</div>
    <div class="basketItem__description" *ngIf="basketItem.description">{{basketItem.description}}</div>
    <div class="basterItem-actions">
        <div class="basterItem-action__remove">
            <!-- кнопка для удаления -->
            <button (click)="removeBasketItem(basketItem)"> remove item from Basket</button>
        </div>
    </div>
</div>
<hr>